{% extends 'layout.html' %}

{% block content %}
{% if m %}
  <div class="alert">{{ m }}</div>
{% end %}
<form class="form-horizontal" method="post" action="{{ request.path }}">
  <fieldset>
    <legend><div class="form-legend"></div></legend>
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge e-name" name="name" id="name" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="pyclass">PyClass</label>
      <div class="controls">
        <input type="text" class="input-xlarge e-class" name="pyclass" id="pyclass" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Attributes</label>
      <div class="controls">
        <p><a href="" class="btn btn-add-attr"><i class="icon-plus-sign"></i> Add Attribute</a></p>
        <table class="table table-striped table-bordered" id="tbl-attrs">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <button type="submit" name="save" class="btn btn-primary">Save changes</button>
    <a href="/elements" class="btn">Cancel</a>
  </div>
</form>
{% end %}

{% block scripts %}
<script type="text/javascript">
$(function() {
    new ElementEditView({
        el: $('form'),
        attributesEl: $('#tbl-attrs'),
        model: new Element({% if element.id %}{{ tojson(element) }}{% end %})
    });
});
</script>
{% end %}