<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>silverwing</title>
    <link href="{{ static_url('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">silverwing</a>
          <ul class="nav">
            {% for item in ['Documents', 'Schemas', 'Elements'] %}
            <li {{ iif(request.path[1:].startswith(item.lower()), 'class="active"') }}><a href="/{{ item.lower() }}">{{ item }}</a></li>
            {% end %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    {% block content %}
    {% end %}
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ static_url('underscore-min.js') }}"></script>
<script src="{{ static_url('backbone-min.js') }}"></script>
<script src="{{ static_url('silverwing.js') }}"></script>
{% block scripts %}
{% end %}
  </body>
</html>
